.body-wrapper {
  padding: 0.5rem;
  height: calc(100vh - 1rem);
  background-color: var(--background-color);
}
.body-container {
  display: flex;
  // margin: 0.5rem;
  height: 100%;

  .header,
  .header > div {
    display: flex;
    align-items: center;
  }

  .header {
    height: 4rem;
    justify-content: space-between;
    h4 {
      color: var(--text-dark-color);
      margin: 0;
    }
    &.border_bottom {
      border-bottom: 1px solid var(--border-color);
    }
    .action-icon {
      svg {
        color: var(--subtext-color);
        height: 1.2rem;
        margin-right: 1rem;
      }
      .vertical {
        margin-right: 1rem;
        height: 1.5rem;
        width: 1px;
        background-color: var(--border-color);
      }
    }
  }
  .left-side-body,
  .right-side-body {
    height: calc(100vh - 5.5rem);
  }
  .left-side {
    border-radius: 8px;
    width: 20%;
    background-color: var(--left-side-color);
    .logo {
      border-radius: 12px;
      margin-right: 0.5rem;
      width: 2.5rem;
      height: 2.5rem;
    }
    .note-icon {
      width: 1.5rem;
      height: 1.5rem;
    }
    .left-side-body {
      display: flex;
      flex-direction: column;
    }
    .footer {
      margin-top: auto;
    }
  }
  .right-side {
    display: flex;
    > div {
      border: 1px solid var(--border-color);
      border-radius: 12px;
    }
    width: 80%;
    background-color: var(--background-color);
    > div:not(:last-child) {
      border-right: none;
    }
    .col-4 {
      width: 40%;
    }
    .col-6 {
      width: 60%;
    }
    .total-unread {
      font-size: 0.8rem;
      color: var(--subtext-color);
      margin-left: 0.5rem;
    }
  }
}
.hr {
  margin: 0.6rem 0;
  padding: 0 1rem;
  &.margin_0 {
    margin: 0;
  }
  div {
    height: 1px;
    background-image: linear-gradient(
      to right,
      var(--border-color) 40%,
      rgba(255, 255, 255, 0) 0%
    );
    background-position: bottom;
    background-size: 1rem 2px;
    background-repeat: repeat-x;
  }
}
.compose-btn,
.header {
  padding: 0 1rem;
}
.compose-btn {
  button {
    margin: 1rem 0;
    border-radius: 8px;
    background-color: #4834f7;
    border: none;
    padding: calc(0.6rem + 2px) 0;
    width: 100%;
    color: white;
  }
}
.filter-btn-container,
.category-item {
  padding: 0 1rem;
}
.filter-btn {
  display: flex;
  padding: 3px;
  background-color: var(--eee-color);
  border-radius: 8px;
  button {
    border: none;
    padding: 0.6rem 0;
    border-radius: 8px;
    color: var(--text-dark-color);
    background-color: var(--eee-color);
    width: 50%;
  }
}
.active-selected-btn {
  background-color: var(--active-button-color) !important;
}
.filter-btn-container {
  margin-bottom: 0.8rem;
}
.category-item {
  margin-bottom: 0.2rem;
  svg,
  span:not(.title) {
    color: var(--subtext-color);
  }
}
.category-item > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 0.5rem;
  border-radius: 8px;
  .title {
    margin-left: 0.5rem;
  }
  > div,
  .title {
    color: var(--text-dark-color);
  }
}
.category-item.selected {
  border-left: 2px solid #4834f7;

  svg,
  span {
    color: #4834f7 !important;
  }
  background-color: var(--active-background-color) !important;
}
.avt {
  margin-right: 0.5rem;
  border-radius: 999px;
  border: 1px solid #d5e0e9;
  padding: 4px;
  width: 2rem;
  height: 2rem;
  background-color: white;
  img {
    border-radius: 999px;
    width: 100%;
    height: 100%;
  }
}
.account,
.account > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.account > div {
  font-size: 14px;
  h5 {
    color: var(--text-dark-color);
    margin-top: 0;
    margin-bottom: 0.2rem;
  }
  p {
    margin: 0;
    color: var(--subtext-color);
  }
}
.account {
  svg {
    color: var(--subtext-color);
  }
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: #888;
}
.left-side-content {
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
    width: 8px;
  }
  // &:hover::-webkit-scrollbar {
  //   display: block;
  // }
}
.moon-icon {
  margin-right: 0.5rem;
  color: var(--subtext-color);
  font-size: 1.3rem;
}
.footer > div {
  padding: 0.2rem 1rem;
}
.coppy-right {
  color: var(--subtext-color);
  text-align: center;
}
