.mail-list,
.mail-detail-wrapper {
  overflow-y: auto;
  height: 100%;
  &::-webkit-scrollbar {
    display: none;
  }
}
.mail-container {
  padding: 0 1rem;

  &:not(:last-child) {
    .mail {
      border-bottom: 1px solid var(--border-color);
    }
  }
  &.active {
    background-color: var(--grey-color);
    .mail {
      border: none;
    }
  }
}
.mail {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
  .mail-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.5rem;
    width: 18px;

    > * {
      margin-top: 0.3rem;
      margin-bottom: 0.5rem;
    }
    .mail-status-unread {
      border-radius: 999px;
      width: 8px;
      height: 8px;
      background-color: #4834f7;
    }
    .mail-starred {
      color: #ffc85f;
    }
    .mail-repply-icon {
      color: #ccc;
    }
  }
  &.viewed {
    .mail-time {
      color: var(--subtext-color);
    }
  }
  &.border_none {
    border: none !important;
  }
  .mail-content {
    width: 90%;
    h4 {
      display: flex;
      align-items: center;
      margin-top: 0;
      margin-bottom: 0.5rem;
      > div {
        width: 2px;
        height: 0.8rem;
        background-color: #ea64d9;
      }
    }
    h5 {
      margin: 0.5rem 0;
      font-size: 14px;
    }
    p {
      color: var(--subtext-color);
      margin: 0;
      font-size: 14px;
      line-height: 1.2rem;
    }
    .mail-attached-total,
    .mail-attached {
      padding: 0.2rem 0.6rem;
      background-color: #f6f6f6;
      border: 1px solid var(--border-color);

      border-radius: 18px;
    }
    .mail-attached {
      display: inline-block;
      margin-top: 0.5rem;
      margin-right: 0.5rem;
      span {
        margin-right: 4px;

        .video {
          color: #4834f7;
        }
        .image {
          color: #d34040;
        }
      }
    }
  }
  .mail-time {
    width: 14%;
  }
}
.account {
  display: flex;
  h5 {
    margin: 0;
    font-size: 1rem;
  }
  p {
    margin: 0;
  }
  .account-infor {
    > div {
      display: flex;
      align-items: center;
      h6 {
        font-size: 14px;
        margin: 0 4px;
      }
      &:first-child {
        margin-bottom: 0.2rem;
      }
    }
    .email {
      margin-left: 4px;
      color: var(--subtext-color);
    }
    .to {
      color: var(--subtext-color);
    }
  }
}
.avt {
  margin-right: 0.5rem;
  border-radius: 999px;
  padding: 4px;
  width: 2rem;
  height: 2rem;
  img {
    border-radius: 999px;
    width: 100%;
    height: 100%;
  }
}
.mail-detail-container {
  padding: 1rem;
}
.mail-detail-header {
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 1rem;
}
.mail-detail-header,
.mail-detail-header-right {
  display: flex;
  align-items: center;
  p {
    margin: 0;
  }
}
.mail-detail-header-right {
  .arrow-turn-left {
    transform: rotate(180deg);
  }
  .arrow-turn-right {
    transform: rotateX(180deg);
  }
  > *:not(:last-child) {
    margin-right: 1rem;
  }
  .time {
    font-size: 0.8rem;
  }
  svg,
  .time {
    color: var(--subtext-color);
  }
  img {
    opacity: 0.4;
  }
}
.vertical {
  margin-right: 1rem;
  height: 1.5rem;
  width: 1px;
  background-color: var(--border-color);
}
.mail-detail-img-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  padding-top: 2rem;
  width: 60%;
  background-color: #eeeeee;
}
.attach-container,
.attach-item > div {
  display: flex;
  align-items: center;
}

.attach-item {
  width: 33.333%;
  &:not(:last-child) {
    > div {
      margin-right: 1rem;
    }
  }
  > div {
    border-radius: 8px;
    padding: 2px;
    background-color: var(--grey-color);

    img {
      margin-right: 0.5rem;
      border-radius: 8px;
    }
    p {
      margin-top: 0;
      margin-bottom: 2px;
    }
    span {
      font-size: 0.8rem;
      color: var(--subtext-color);
    }
  }
}
.attach-header {
  display: flex;
  justify-content: space-between;
  h5 {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
    &:last-child {
      color: #4834f7;
    }
  }
}
.mail-detail-body {
  p {
    text-align: justify;
  }
  a,
  p {
    color: var(--text-dark-color);
  }
}
.mail-detail-title {
  font-size: 1.2rem;
}
.mb_2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
}
.mt_2 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}
